{% extends "base.html" %}  <!-- Розширення базового шаблону / Extending the base template -->

{% set page_title = "Basket" %}  <!-- Встановлення заголовку сторінки / Setting the page title -->

{% block links %}  <!-- Блок для підключення стилів / Block for adding styles -->
    <link rel="stylesheet" href="{{ url_for('basket.static', filename='/css/style_send.css') }}">  <!-- Підключення CSS файлу для сторінки кошика / Linking CSS file for the basket page -->
{% endblock %}

{% block content %}  <!-- Блок для основного контенту сторінки / Block for the main content of the page -->
    <h1 class="page-header">ВАШІ ДАНІ У ОБРОБЦІ<br>КОНСУЛЬТАНТ ЗВ'ЯЖЕТЬСЯ З ВАМИ ДЛЯ ПІДТВЕРДЖЕННЯ ЗАМОВЛЕННЯ</h1>  <!-- Заголовок сторінки з інформацією про обробку даних / Header with information about data processing -->
    <div class="all-products">  <!-- Контейнер для усіх товарів / Container for all products -->
        {% for product in products %}
            <div class="product" id='product-{{ product[0].id }}'>  <!-- Блок для кожного товару / Block for each product -->
                <img class="product-image" src="{{ url_for('shop.static', filename='/images/' + product[0].name + '.png') }}" alt="{{ product[0].name }}">  <!-- Зображення товару / Product image -->
                <h1 class="product-name">{{ product[0].name }}</h1>  <!-- Назва товару / Product name -->
                <div class="product-count">  <!-- Кількість товару / Product count -->
                    <button class="button-increase button-product" id='increase-{{ product[0].id }}'>+</button>  <!-- Кнопка збільшення кількості товару / Increase button -->
                    <p class="text-product-count" id='count-{{ product[0].id }}'> {{ product[1] }}</p>  <!-- Кількість одиниць товару / Product quantity -->
                    <button class="button-delete button-product" id='delete-{{ product[0].id }}'>-</button>  <!-- Кнопка видалення товару / Delete button -->
                </div>
                <div class='block-product-price'>  <!-- Блок ціни товару / Product price block -->
                    {% if product[0].discount == 0 %}
                        <p class="product-price" id='price-{{ product[0].id }}'>{{ product[0].price }} грн</p>  <!-- Ціна без знижки / Price without discount -->
                    {% else %}
                        <p class='product-price' id='price-{{ product[0].id }}'>{{ (product[0].price * (100 - product[0].discount) / 100) | int }} грн</p>  <!-- Ціна зі знижкою / Price with discount -->
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="overall-price-block block-price-products">  <!-- Блок для загальної вартості замовлення / Block for overall order price -->
        <p class="price-text">Загальна вартість замовлення: </p>  <!-- Текст загальної вартості / Total order price text -->
        <p class="overall-price">{{ ((all_price - all_discount) * 100)|round / 100 }} грн</p>  <!-- Загальна вартість з урахуванням знижки / Total price with discount -->
    </div>
    <form method="post">  <!-- Форма для відправки даних / Form for submitting data -->
        <button class="cancel-button" name="cancel_delivery">  ВІДМІНИТИ ЗАМОВЛЕННЯ  </button>  <!-- Кнопка для відміни замовлення / Button to cancel order -->
    </form>
{% endblock %}
