{% extends "base.html" %}

{% set page_title = "Basket" %}

{% block links %}
    <link rel = "stylesheet" href = "{{ url_for('basket.static', filename = '/css/style.css' ) }}">
    <script defer src = "{{ url_for('basket.static', filename = '/js/script.js') }}"> </script>
{% endblock %}

{% block content %}
    <div class = "all-products">
        {% for product in products %}
            <div class = "product" id = 'product-{{ product[0].id }}'>
                <img class = "product-image" src = "{{ url_for('shop.static', filename = '/images/' + product[0].name + '.png') }}" alt = "{{ product[0].name }}">
                <h1 class = "product-name">{{ product[0].name }}</h1>
                <div class = "product-count">
                    <button class = "button-reduce button-product" id = 'reduce-{{ product[0].id }}'>-</button>
                    <p class = "text-product-count" id = 'count-{{ product[0].id }}'> {{ product[1] }}</p>
                    <button class = "button-increase button-product" id = 'increase-{{ product[0].id }}'>+</button>
                    <button class = "button-delete button-product" id = 'delete-{{product[0].id}}'>
                        <img src="{{ url_for('basket.static', filename = 'images/trash_icon.png') }}" class="trash-image" alt="X">
                    </button>
                </div>
                <div class = 'block-product-price'>
                    {% if product[0].discount == 0 %}
                        <p class = "product-price" id = 'price-{{ product[0].id }}'>{{ product[0].price }} грн</p>
                    {% else %}
                        <p class = 'product-discount' id = 'discount-{{ product[0].id }}'>{{ (product[0].price * product[0].discount / 100) | int }} грн</p>
                        <p class = 'product-discount-percent'>Знижка {{ product[0].discount }}%</p>
                        <p class = 'product-price-crossed' id = 'price-{{ product[0].id }}'>{{ product[0].price }} грн</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class = 'purchase-confirmation'>
        <form method = 'post' class = "confirmation-button">
            <button type = "submit" class = "confirmation-button"> ПЕРЕЙТИ ДО ОФОРМЛЕННЯ </button>
        </form>
        <div class = "price-all-products block-price-products">
            <p class = "price-text all-products-text">{{ number_of_products }}-и товари на суму</p>
            <p class = "price-products all-products-price">{{ ((all_price) * 100)|round / 100 }} грн</p>
        </div>
        <div class = "price-sale block-price-products"> 
            <p class = "price-text">Знижка</p>
            <p class = "price-products discount-price">{{ ((all_discount) * 100)|round / 100 }} грн</p>
        </div>
        <div class = "overall-price-block block-price-products">
            <p class = "overall-text price-text">Загальна сума</p>
            <p class = "price-products overall-price">{{ ((all_price - all_discount) * 100)|round / 100 }} грн</p>
        </div>
    </div>
{% endblock %}
<!-- !!!!!!!!!!!!! -->
<!-- Подсказка к product -->
<!-- product = [тут продукт, а тут его количество] -->
<!-- !!!!!!!!!!!!! -->