<html lang="en"> <!-- Визначення мови сторінки як англійська / Define the language of the page as English -->
    <head> <!-- Відкриття тега head, який містить метадані документа / Opening head tag, which contains the document's metadata -->
        <meta charset="UTF-8"> <!-- Встановлення кодування символів документа як UTF-8 / Setting the character encoding of the document to UTF-8 -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Встановлення параметрів viewport для коректного відображення на різних пристроях / Setting the viewport parameters for proper display on various devices -->
        <title>{{ page_title }}</title> <!-- Встановлення заголовку сторінки, який буде відображено у вкладці браузера / Setting the page title, which will be displayed in the browser tab -->
        <link rel="stylesheet" href="{{ url_for('static', filename = 'project/css/base_style.css')}}"> <!-- Підключення файлу CSS для стилізації сторінки / Linking CSS file for styling the page -->
        <script defer src = "{{ url_for('static', filename = 'project/js/script.js') }}" type = "module"></script> <!-- Підключення файлу JavaScript з відкладеним виконанням / Linking JavaScript file with deferred execution -->
        {% block links %} <!-- Початок блоку для додавання додаткових посилань / Start of a block to add additional links -->
        {% endblock %} <!-- Кінець блоку для додавання додаткових посилань / End of a block to add additional links -->
    </head> <!-- Закриття тега head / Closing head tag -->
    <header> <!-- Відкриття тега header, який містить заголовок сторінки / Opening header tag, which contains the page header -->
        <div class = "main-info"> <!-- Відкриття блоку для основної інформації / Opening div for main information -->
            <a class = "main-text main-home" href = "/">HOME</a> <!-- Посилання на головну сторінку / Link to the home page -->
            <a class = "main-text main-shop" href = "/shop/">SHOP</a> <!-- Посилання на магазин / Link to the shop -->
            <div class = "main-text main-basket"> <!-- Відкриття блоку для корзини / Opening div for the basket -->
                <a class = "main-text main-basket" href = "/basket/">BASKET</a> <!-- Посилання на корзину / Link to the basket -->
                <p class = "basket-count" id = "basket-counter"></p> <!-- Параграф для відображення кількості товарів у корзині / Paragraph to display the number of items in the basket -->
            </div> <!-- Закриття блоку для корзини / Closing div for the basket -->
            <a class = "main-text main-contacts" href = "/contacts/">CONTACTS</a> <!-- Посилання на сторінку контактів / Link to the contacts page -->
            {% if admin %} <!-- Перевірка, чи є користувач адміністратором / Check if the user is an admin -->
                <a class="main-text main-admin" href="/admin/">ADMIN</a> <!-- Посилання на сторінку адміністрування / Link to the admin page -->
            {% endif %} <!-- Кінець перевірки, чи є користувач адміністратором / End of the admin check -->
        </div> <!-- Закриття блоку для основної інформації / Closing div for main information -->
        <div class = "username-info"> <!-- Відкриття блоку для інформації про користувача / Opening div for user information -->
            <p class = "main-text username">{{ username|upper }}</p> <!-- Відображення імені користувача у верхньому регістрі / Displaying the username in uppercase -->
        </div> <!-- Закриття блоку для інформації про користувача / Closing div for user information -->
    </header> <!-- Закриття тега header / Closing header tag -->
    <body> <!-- Відкриття тега body, який містить основний вміст документа / Opening body tag, which contains the main content of the document -->
        <div class = "content"> <!-- Відкриття блоку для вмісту сторінки / Opening div for the page content -->
            {% block content %} <!-- Початок блоку для додавання основного вмісту / Start of a block to add main content -->
            {% endblock %} <!-- Кінець блоку для додавання основного вмісту / End of a block to add main content -->
        </div> <!-- Закриття блоку для вмісту сторінки / Closing div for the page content -->
    </body> <!-- Закриття тега body / Closing body tag -->
</html> <!-- Закриття тега html / Closing html tag -->