{% extends "base.html" %}  <!-- Розширення базового шаблону / Extending the base template -->

{% set page_title = "Admin page" %}  <!-- Встановлення заголовку сторінки / Setting the page title -->

{% block links %}  <!-- Блок для підключення додаткових стилів та скриптів / Block for adding additional styles and scripts -->
    <link rel="stylesheet" href="{{ url_for('admin.static', filename='/css/style.css') }}">  <!-- Підключення CSS файлу / Linking CSS file -->
    <script defer src="{{ url_for('admin.static', filename='/js/script.js') }}"></script>  <!-- Підключення JS файлу / Linking JS file -->
{% endblock %}

{% block content %}  <!-- Блок для основного контенту сторінки / Block for the main content of the page -->
    <button class="new-product">  <!-- Кнопка для додавання нового продукту / Button to add a new product -->
        <p class="new-product-text">ДОДАТИ ПРОДУКТ</p>  <!-- Текст кнопки / Button text -->
        <p class="new-product-image">+</p>  <!-- Значок додавання продукту / Product addition symbol -->
    </button>
    {% for product in products %}  <!-- Цикл для відображення всіх продуктів / Loop to display all products -->
        <div class="product" id="product-{{ product.id }}">  <!-- Контейнер для продукту з унікальним id / Container for the product with a unique id -->
            <img src="{{ url_for('shop.static', filename='/images/' + product.name + '.png') }}" class="product-image" id="image-{{ product.id }}">  <!-- Зображення продукту / Product image -->
            <button class="edit-button edit-image-button" id="edit-image-{{ product.id }}">  <!-- Кнопка редагування зображення продукту / Button to edit product image -->
                <img src="{{ url_for('admin.static', filename='/images/pencil.png') }}" alt="edit" class="edit-image">  <!-- Іконка редагування / Edit icon -->
            </button>
            
            <div class="product-info">  <!-- Контейнер для інформації про продукт / Container for product information -->
                <div class="product-property">  <!-- Властивість продукту / Product property -->
                    <h2 class="product-name" id="name-{{ product.id }}">{{ product.name }}</h2>  <!-- Назва продукту / Product name -->
                    <button class="edit-button edit-name-button" id="edit-name-{{ product.id }}">  <!-- Кнопка редагування назви продукту / Button to edit product name -->
                        <img src="{{ url_for('admin.static', filename='/images/pencil.png') }}" alt="edit" class="edit-image">  <!-- Іконка редагування / Edit icon -->
                    </button>
                </div>
                <div class='block-product-price'>  <!-- Контейнер для ціни продукту / Container for product price -->
                    <div class="product-property">  <!-- Властивість продукту / Product property -->
                        <p class='product-price-crossed' id="price-{{ product.id }}">{{ product.price }} грн</p>  <!-- Перекреслена ціна продукту / Crossed price of the product -->
                        <button class="edit-button edit-price-product" id="edit-price-{{ product.id }}">  <!-- Кнопка редагування ціни продукту / Button to edit product price -->
                            <img src="{{ url_for('admin.static', filename='/images/pencil.png') }}" alt="edit" class="edit-image">  <!-- Іконка редагування / Edit icon -->
                        </button>
                    </div>
                    <div class="product-property">  <!-- Властивість продукту / Product property -->
                        <p class='product-discount-percent' id="discount-{{ product.id }}">Знижка {{ product.discount }}%</p>  <!-- Відсоток знижки продукту / Product discount percentage -->
                        <button class="edit-button edit-discount-button" id="edit-discount-{{ product.id }}">  <!-- Кнопка редагування знижки продукту / Button to edit product discount -->
                            <img src="{{ url_for('admin.static', filename='/images/pencil.png') }}" alt="edit" class="edit-image">  <!-- Іконка редагування / Edit icon -->
                        </button>
                    </div>
                    <p class='product-discount'>{{ (product.price * (100 - product.discount) / 100) | int }} грн</p>  <!-- Ціна продукту після знижки / Product price after discount -->
                </div>
                <button class="add-product button-stock-{{ product.in_stock }}" id='{{ product.id }}'>КУПИТИ</button>  <!-- Кнопка для покупки продукту / Button to buy the product -->
                {% for property in product.description.split(";") %}  <!-- Цикл для відображення всіх властивостей продукту / Loop to display all product properties -->
                    <!-- <p>{{ property }} --- {{ product.description }} --- {{ product.description.split(";") }}</p> -->
                    {% set property_name = property.split(':')[0] %}  <!-- Встановлення назви властивості / Setting the property name -->
                    <p class="product-property">{{ property.split(":")[0] }}:</p>  <!-- Назва властивості продукту / Product property name -->
                    <div class="property-block">  <!-- Контейнер для властивостей / Container for properties -->
                        {% set property_raw = property.split(":")[1] %}  <!-- Встановлення сирого значення властивості / Setting the raw property value -->
                        {% set property_values = property_raw.split("/") %}  <!-- Розділення значення властивості / Splitting the property value -->
                        <p class="property" id="property0-{{ product.id }}-{{ property_name }}">{{ property_values[0] }}</p>  <!-- Значення властивості продукту / Product property value -->
                        <button class="edit-button property-edit-product" id="edit-property0-{{ product.id }}-{{ property_name }}">  <!-- Кнопка редагування властивості продукту / Button to edit product property -->
                            <img src="{{ url_for('admin.static', filename='/images/pencil.png') }}" alt="edit" class="edit-image">  <!-- Іконка редагування / Edit icon -->
                        </button>
                        <p class="property selected-property" id="property1-{{ product.id }}-{{ property_name }}">{{ property_values[1] }}</p>  <!-- Вибране значення властивості продукту / Selected product property value -->
                        <button class="edit-button property-edit-product" id="edit-property1-{{ product.id }}-{{ property_name }}">  <!-- Кнопка редагування вибраної властивості продукту / Button to edit selected product property -->
                            <img src="{{ url_for('admin.static', filename='/images/pencil.png') }}" alt="edit" class="edit-image">  <!-- Іконка редагування / Edit icon -->
                        </button> 
                        <p class="property" id="property2-{{ product.id }}-{{ property_name }}">{{ property_values[2] }}</p>  <!-- Значення властивості продукту / Product property value -->
                        <button class="edit-button property-edit-product" id="edit-property2-{{ product.id }}-{{ property_name }}">  <!-- Кнопка редагування властивості продукту / Button to edit product property -->
                            <img src="{{ url_for('admin.static', filename='/images/pencil.png') }}" alt="edit" class="edit-image">  <!-- Іконка редагування / Edit icon -->
                        </button>
                    </div>
                {% endfor %}
                <form method="post">  <!-- Форма для видалення продукту / Form to delete a product -->
                    <button class="product-delete" value="{{ product.id }}" name="delete_product">  <!-- Кнопка видалення продукту / Button to delete a product -->
                        <img class="product-delete-image" src="{{ url_for('admin.static', filename='/images/delete.png') }}">  <!-- Іконка видалення продукту / Product delete icon -->
                        <p class="product-delete-text">ВИДАЛИТИ ТОВАР</p>  <!-- Текст кнопки видалення продукту / Button delete text -->
                    </button>
                </form>
            </div>
        </div>
    {% endfor %}
    <div class='blur'>  <!-- Розмитий фон для модального вікна / Blurred background for the modal window -->
        <div class='modal-dialog'>  <!-- Модальне вікно для редагування параметрів / Modal window for editing parameters -->
            <h1 class="modal-header">ЗАДАЙТЕ НОВЕ ЗНАЧЕННЯ ПАРАМЕТРУ</h1>  <!-- Заголовок модального вікна / Modal window header -->
            <form method="post" class="send-form" enctype="multipart/form-data">  <!-- Форма для відправки нових значень параметрів / Form to submit new parameter values -->
                <input type="text" name="new-value" class="modal-input" style="display: none;">  <!-- Поле для введення нового значення параметру / Field to input new parameter value -->
                <div class="image-modal-input" style="display: none;">  <!-- Контейнер для введення зображення / Container for image input -->
                    <input type="file" accept="images/*" class="modal-input-image" name="new-value">  <!-- Поле для вибору файлу зображення / File input field for image -->
                    <button class="select-image-input" type="button">SELECT A FILE</button>  <!-- Кнопка для вибору файлу / Button to select a file -->
                    <span class="selected-image-input">NO FILE SELECTED</span>  <!-- Текст для відображення вибраного файлу / Text to display selected file -->
                </div>
                <button class="modal-confirm">SEND</button>  <!-- Кнопка для відправки нових значень / Button to submit new values -->
            </form>
        </div>
        <div class="modal-window-product">  <!-- Модальне вікно для додавання нового продукту / Modal window for adding a new product -->
            <h1 class="modal-header-product">NEW PRODUCT</h1>  <!-- Заголовок модального вікна для нового продукту / Modal window header for new product -->
            <form method="post" enctype="multipart/form-data" class="new-product-form">  <!-- Форма для додавання нового продукту / Form to add a new product -->
                <p class="description-input-product">IMAGE PRODUCT:</p>  <!-- Опис поля для зображення продукту / Description for product image field -->
                <div class="image-modal-input">  <!-- Контейнер для введення зображення продукту / Container for product image input -->
                    <input type="file" id="new-image-input" accept="images/*" class="modal-input-image" required name='product_image'>  <!-- Поле для вибору зображення продукту / File input field for product image -->
                    <button class="select-image-input" id="new-image-button" type="button">SELECT A FILE</button>  <!-- Кнопка для вибору файлу / Button to select a file -->
                    <span class="selected-image-input" id="new-image-name">NO FILE SELECTED</span>  <!-- Текст для відображення вибраного файлу / Text to display selected file -->
                </div>
                <p class="description-input-product">NAME PRODUCT:</p>  <!-- Опис поля для назви продукту / Description for product name field -->
                <input type="text" class="text-input-product" name='product_name'>  <!-- Поле для введення назви продукту / Input field for product name -->
                <p class="description-input-product">DESCRIPTION PRODUCT:</p>  <!-- Опис поля для опису продукту / Description for product description field -->
                <textarea class="text-input-product textarea-product" required name='product_description'></textarea>  <!-- Поле для введення опису продукту / Textarea for product description -->
                <p class="description-input-product">PRICE PRODUCT:</p>  <!-- Опис поля для ціни продукту / Description for product price field -->
                <input type="number" min="0" required class="text-input-product" name='product_price'>  <!-- Поле для введення ціни продукту / Input field for product price -->
                <p class="description-input-product">DISCOUNT PRODUCT:</p>  <!-- Опис поля для знижки продукту / Description for product discount field -->
                <input type="number" min="0" max="100" required class="text-input-product" name='product_discount'>  <!-- Поле для введення знижки продукту / Input field for product discount -->
                <p class="description-input-product">COUNT PRODUCT:</p>  <!-- Опис поля для кількості продукту / Description for product count field -->
                <input type="number" min="0" required class="text-input-product" name='product_count'>  <!-- Поле для введення кількості продукту / Input field for product count -->
                <button class="modal-confirm" name="new_product" value="true">SEND</button>  <!-- Кнопка для відправки даних нового продукту / Button to submit new product data -->
            </form>
        </div>
    </div>
{% endblock %}
