@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header{
    position: fixed;
    display: inline;
    width: calc(100% - 40px);
    height: 33px;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    text-align: right;
    margin: 0px;
    text-decoration-line: underline;
    top: 10px;
    left: 20px;
    align-self: center;
}

.login-bg{
    display: flex;
    border-radius: 25px;
    border: 3px solid black;
    margin-top: 15px;
    width: 450px;
    height: 355px;
    justify-content: center;
}

.login-list{
    list-style: none;
    padding-left: 0px;
    margin-top: 45px;
}

.login-el{
    width: 370px;
    height: 93px;
    margin-top: -2px;
}

.login-text{
    display: flex;
    width: 100%;
    height: 27px;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    text-align: left;
}

.login-input{
    display: flex;
    margin-top: -14px;
    width: 370px;
    height: 56px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 30px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.login-el-button{
    display: flex;
    justify-content: center;
    height: 102px;
    align-items: center;
}

.login-button{
    display: inline;
    height: 56px;
    width: 204px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    font-size: 24px;
    font-family: "inter", sans-serif;
    font-weight: 400;
}

.dimmer{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.7;
    z-index: 2;
    justify-content: center;
    align-items: center;
}

.not-registrated-bg{
    position: absolute;
    display: flex;
    width: 700px;
    height: 350px;
    z-index: 3;
    background: white;
    border-radius: 25px;
    border: 3px solid black;
    align-items: center;
    justify-content: center;
}

.not-registrated-header{
    width: 441px;
    height: 95px;
    font-family: "Inter", sans-serif;
    font-size: 35px;
    font-weight: 400;
    text-align: center;
}

.not-registrated-link{
    display: flex;
    position: absolute;
    width: 650px;
    bottom: 10px;
    font-family: "Inter", sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: black;
    flex-wrap: nowrap;
    text-decoration: none;
    justify-content: right;
}

.not-reg-text{
    text-decoration: underline;
}